<footer class="current_week">
	<ul class="footer">
		<li class="cookbook_description">
			<div class="image_infos">
				<div class="profil_image"></div>
			</div>
			<div class="cookbook_infos">
				<h3>Sweet & Tasty (2 persn.)</h3>
				<span class="chief_name">Carlos Louis Ribeiro</span>
			</div>
		</li>
		<li class="week_overview">
			<ul class="switcher">
				<li class="left button"></li>
				<li class="current_day">Monday - Starter</li>
				<li class="right button"></li>
			</ul>
			<ul class="recipe_infos">
				<li class="recipe_name">
					Starter : <p>Watermelon & feta salad</p>
				</li>
			</ul>
		</li>
		<li class="week_shopping_list">
			<button class="style Neutral">
				<span class="icon cart"></span>
				See what you need to buy
			</button>
		</li>
	</ul>
</footer>