<aside class="sidebar_right">
	<div class="title">
		<h3>Chiefs to follow</h3>
	</div>
	<ul class="list-chiefs">
		<li class="chief-stick">
			<div class="image">
				<span class="profil"></span>
			</div>
			<div class="stick-content">
				<div class="stick-infos">
					<h4>Gordorn Ramsey</h4>
					<span class="sub-infos">16 Cookbooks • 143 Followers</span>
				</div>
				<div class="stick-button">
					<button class="style Confirm">Follow chief</button>
				</div>
			</div>
		</li>
		<li class="chief-stick">
			<div class="image">
				<span class="profil"></span>
			</div>
			<div class="stick-content">
				<div class="stick-infos">
					<h4>Gordorn Ramsey</h4>
					<span class="sub-infos">16 Cookbooks • 143 Followers</span>
				</div>
				<div class="stick-button">
					<button class="style Danger">Unfollow chief</button>
				</div>
			</div>
		</li>
	</ul>
</aside>