/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */


   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
   input[type=number]::-webkit-inner-spin-button { 
   	-webkit-appearance: none;
   	cursor:pointer;
   	display:block;
   	width:8px;
   	color: #333;
   	text-align:center;
   	position:relative;
   }

   input[type=number]::-webkit-inner-spin-button:before,
   input[type=number]::-webkit-inner-spin-button:after {
   	content: "^";
   	position:absolute;
   	right: 0;
   	font-family:monospace;
   	line-height:
   }

   input[type=number]::-webkit-inner-spin-button:before {
   	top:0px;
   }

   input[type=number]::-webkit-inner-spin-button:after {
   	bottom:0px;
   	-webkit-transform: rotate(180deg);
   }
/* line 1, /myapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /myapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /myapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /myapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /myapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /myapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /myapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /myapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /myapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /myapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /myapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /myapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
body {
  background-color: #121212; }

* {
  cursor: default; }
  *::-moz-selection {
    background: none; }
  *::selection {
    background: none; }
  *::-webkit-scrollbar {
    display: none; }
  * button {
    cursor: pointer;
    outline: none; }
    * button.style {
      border-radius: 30px;
      font-family: "Circular Std";
      font-size: 12px;
      font-weight: 100;
      text-align: center;
      line-height: 18px;
      background: none;
      padding: 5px 25px;
      display: inline-block;
      transition-duration: 0.1s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform; }
      * button.style.Confirm {
        color: #00FFCD;
        border: 1px solid #00FFCD; }
        * button.style.Confirm:active {
          background-color: #00FFCD;
          color: #121212; }
      * button.style.Danger {
        color: #ED4747;
        border: 1px solid #ED4747; }
        * button.style.Danger:active {
          background-color: #ED4747; }
      * button.style.Neutral {
        color: white;
        border: 1px solid white; }
        * button.style.Neutral:active {
          color: #1E1D1D;
          background-color: white; }
      * button.style.None {
        color: white;
        border: none; }
        * button.style.None:active {
          opacity: 0.5; }
      * button.style:active {
        -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        transform: scale(1) !important;
        color: white; }
        * button.style:active span.icon.cart {
          background-image: url(../assets/icons/Back-2.png); }
      * button.style:hover {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04); }
      * button.style span.icon {
        float: left;
        margin: 3px 10px 0 -10px;
        display: inline-block;
        height: 12px;
        width: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        * button.style span.icon.cart {
          background-image: url(../assets/icons/Back-white.png); }
      * button.style.big {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500; }
      * button.style.round {
        height: 34px;
        width: 34px;
        text-align: center;
        border-radius: 50px;
        overflow: hidden;
        padding: 0; }
  * .checkbox {
    display: inline-block;
    margin: 4px 1px; }
    * .checkbox [type="checkbox"], * .checkbox [type="radio"] {
      position: absolute;
      left: -9999px; }
      * .checkbox [type="checkbox"] + label, * .checkbox [type="radio"] + label {
        border: 1px solid white;
        border-radius: 2px;
        font-family: "Circular Std";
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: white;
        padding: 2px 8px;
        cursor: pointer;
        text-transform: uppercase; }
      * .checkbox [type="checkbox"]:checked + label, * .checkbox [type="radio"]:checked + label {
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        color: #121212; }
  * .fright {
    float: right !important; }
  * .fleft {
    float: left !important; }
  * .gright {
    margin-right: 20px !important; }
  * .gleft {
    margin-left: 20px !important; }
  * .gbottom {
    margin-bottom: 20px !important; }
  * .gtop {
    margin-top: 20px !important; }
  * .aright {
    text-align: right !important; }
  * .aleft {
    text-align: left !important; }
  * .center {
    text-align: center !important; }
  * .centered {
    margin: auto !important; }

.search_container {
  background-color: white;
  border-radius: 4px;
  width: 220px;
  height: 18px;
  padding: 3px;
  margin: 0 12px; }
  .search_container .search_icon {
    display: inline-block;
    height: 14px;
    cursor: pointer;
    width: 14px;
    background-size: contain;
    margin: 2px;
    float: left;
    background-image: url(../assets/icons/search.png); }
  .search_container input.search_field {
    background: none;
    height: 14px;
    outline: none;
    border: none;
    padding: 0 7px;
    width: calc( 100% - 40px); }

header {
  height: 24px;
  width: calc( 100vw - 16px);
  padding: 8px;
  background-color: #121212;
  display: block; }
  header ul li {
    display: inline-block; }
    header ul li.mac_options {
      width: 90px; }
    header ul li.navigation .directions {
      float: left;
      margin-top: 2px;
      display: inline-block; }
      header ul li.navigation .directions button {
        margin: 0 12px;
        border: none;
        background: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 11px;
        background-image: url(../assets/icons/Back-white.png);
        transition-duration: 0.3s;
        transition-property: opacity;
        cursor: pointer;
        opacity: 0.5;
        outline: none; }
        header ul li.navigation .directions button.right_arrow {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
        header ul li.navigation .directions button:hover {
          opacity: 1; }
    header ul li.navigation .search_bar {
      display: inline-block; }
    header ul li.profil {
      display: inline-block;
      height: 24px;
      float: right;
      width: 210px;
      padding: 2px 32px;
      cursor: pointer; }
      header ul li.profil .profil_icon {
        float: left;
        margin: 0 14px;
        height: 21px;
        width: 21px;
        background-size: contain;
        background-image: url(../assets/icons/profil-white.png); }
      header ul li.profil .profil_name {
        display: inline-block;
        color: white;
        font-size: 14px;
        padding: 3px;
        opacity: 0.6;
        font-family: "Circular-Book"; }
        header ul li.profil .profil_name:hover {
          opacity: 1; }
      header ul li.profil .profil_drop_icon {
        height: 8px;
        width: 15px;
        float: right;
        padding: 8px;
        background-size: 13px 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../assets/icons/Down-white.png); }
        header ul li.profil .profil_drop_icon:hover {
          background-image: url(../assets/icons/Down-blue.png); }
          header ul li.profil .profil_drop_icon:hover .drop-list {
            margin-top: 15px;
            opacity: 1; }
        header ul li.profil .profil_drop_icon .drop-list {
          z-index: 10;
          background-color: #1E1D1D;
          position: absolute;
          margin-left: -110px;
          margin-top: -100px;
          opacity: 0;
          transition-duration: 0.3s;
          transition-property: opacity; }
          header ul li.profil .profil_drop_icon .drop-list ul {
            padding: 4px 8px;
            display: block; }
            header ul li.profil .profil_drop_icon .drop-list ul li {
              display: block;
              color: white;
              font-size: 14px;
              font-family: "Circular-Book";
              border-bottom: 1px solid white;
              padding: 12px 8px;
              width: 120px;
              cursor: pointer; }
              header ul li.profil .profil_drop_icon .drop-list ul li:hover {
                background-color: rgba(255, 255, 255, 0.1); }
              header ul li.profil .profil_drop_icon .drop-list ul li:last-child {
                border: none; }
          header ul li.profil .profil_drop_icon .drop-list:hover {
            margin-top: 15px;
            opacity: 1; }

.main_frame .sidebar_left {
  float: left;
  display: inline-block;
  width: 150px;
  height: calc( 100vh - 90px);
  background-color: #121212;
  overflow-y: auto; }
  .main_frame .sidebar_left ul.section li.item {
    padding: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.1s;
    transition-property: opacity; }
    .main_frame .sidebar_left ul.section li.item p {
      color: white;
      font-family: "Circular-Book";
      font-size: 15px;
      padding-left: 10px;
      display: inline; }
    .main_frame .sidebar_left ul.section li.item span.icon {
      display: inline-block;
      width: 14px;
      height: 9px;
      margin-left: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      .main_frame .sidebar_left ul.section li.item span.icon.starter {
        background-image: url(../assets/icons/main.png); }
      .main_frame .sidebar_left ul.section li.item span.icon.main {
        background-image: url(../assets/icons/main.png); }
      .main_frame .sidebar_left ul.section li.item span.icon.dessert {
        background-image: url(../assets/icons/main.png); }
    .main_frame .sidebar_left ul.section li.item span.counter {
      display: inline;
      opacity: 0.54;
      font-family: "Circular Std";
      font-size: 15px;
      font-weight: 300;
      font-style: italic;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.87); }
    .main_frame .sidebar_left ul.section li.item:hover {
      opacity: 1; }
    .main_frame .sidebar_left ul.section li.item.active {
      opacity: 1; }
      .main_frame .sidebar_left ul.section li.item.active:before {
        content: "";
        width: 4px;
        margin-top: -2px;
        height: 18px;
        display: block;
        float: left;
        background-color: #00FFCD; }
  .main_frame .sidebar_left ul.section li.title {
    cursor: default;
    width: 130px;
    height: 28px;
    padding-top: 16px; }
    .main_frame .sidebar_left ul.section li.title h3 {
      padding-left: 14px;
      text-transform: uppercase;
      font-family: "Circular Std";
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
      color: white; }

.main_frame .sidebar_right {
  z-index: 8;
  float: right;
  display: inline-block;
  width: 230px;
  height: calc( 100vh - 90px);
  background-color: #121212; }
  .main_frame .sidebar_right .title {
    display: block;
    padding: 20px 10px 0 10px; }
    .main_frame .sidebar_right .title h3 {
      font-family: "Circular Std";
      font-size: 18px;
      font-weight: bold;
      line-height: 23px;
      color: white;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6); }
  .main_frame .sidebar_right ul.list-chiefs {
    width: 100%;
    max-height: calc( 100vh - 140px);
    display: block;
    overflow-y: auto; }
    .main_frame .sidebar_right ul.list-chiefs li.chief-stick {
      margin-bottom: 1px;
      background-color: #1E1D1D;
      width: 100%;
      padding: 8px 0; }
      .main_frame .sidebar_right ul.list-chiefs li.chief-stick .image {
        float: left;
        margin-left: 10px;
        height: 32px;
        width: 32px;
        cursor: pointer;
        border-radius: 100px;
        overflow: hidden;
        display: inline-block; }
        .main_frame .sidebar_right ul.list-chiefs li.chief-stick .image .profil {
          background-color: #00FFCD;
          height: 32px;
          width: 32px;
          display: block; }
      .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content {
        display: inline-block;
        position: relative;
        width: calc( 100% - 64px); }
        .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content .stick-infos {
          padding-left: 12px; }
          .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content .stick-infos h4 {
            font-family: "Circular Std";
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: white; }
          .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content .stick-infos span.sub-infos {
            font-family: "Circular Std";
            font-size: 9px;
            font-weight: 300;
            line-height: 11px;
            color: white;
            opacity: 0.87; }
        .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content .stick-button {
          position: absolute;
          top: 0;
          margin-left: 12px;
          opacity: 0; }
        .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content:hover .stick-infos {
          opacity: 0; }
        .main_frame .sidebar_right ul.list-chiefs li.chief-stick .stick-content:hover .stick-button {
          opacity: 1; }

@media (max-width: 1190px) {
  .main_frame .sidebar_right {
    display: none; }
  .main_frame .main_content {
    width: calc( 100vw - 150px); } }

.main_frame .current_week {
  position: fixed;
  bottom: 0px;
  z-index: 9;
  height: 40px;
  width: calc( 100vw - 20px);
  padding: 10px;
  background-color: #282828; }
  .main_frame .current_week ul.footer {
    display: block;
    height: 100%; }
    .main_frame .current_week ul.footer li {
      display: inline-block; }
    .main_frame .current_week ul.footer li.playlist_description {
      float: left; }
      .main_frame .current_week ul.footer li.playlist_description .image_infos {
        display: inline-block;
        float: left; }
        .main_frame .current_week ul.footer li.playlist_description .image_infos .profil_image {
          width: 40px;
          height: 40px;
          background-color: #00FFCD; }
      .main_frame .current_week ul.footer li.playlist_description .playlist_infos {
        max-width: 250px;
        overflow: hidden;
        padding-left: 8px;
        padding-top: 2px; }
        .main_frame .current_week ul.footer li.playlist_description .playlist_infos h3 {
          display: block;
          font-family: "Circular Std";
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          color: white;
          cursor: pointer; }
          .main_frame .current_week ul.footer li.playlist_description .playlist_infos h3:hover {
            text-decoration: underline; }
        .main_frame .current_week ul.footer li.playlist_description .playlist_infos span.chief_name {
          display: inline-block;
          font-family: "Circular Std";
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
          color: white;
          opacity: 0.87;
          cursor: pointer; }
          .main_frame .current_week ul.footer li.playlist_description .playlist_infos span.chief_name:hover {
            text-decoration: underline; }
    .main_frame .current_week ul.footer li.week_overview {
      text-align: center;
      width: calc( 100% - 520px);
      text-align: center; }
      .main_frame .current_week ul.footer li.week_overview ul.switcher li {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .main_frame .current_week ul.footer li.week_overview ul.switcher li.current_day {
        width: 200px;
        text-align: center;
        font-family: "Circular Std";
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
        color: white; }
      .main_frame .current_week ul.footer li.week_overview ul.switcher li.button {
        cursor: pointer;
        width: 11px;
        height: 15px;
        opacity: 0.6; }
        .main_frame .current_week ul.footer li.week_overview ul.switcher li.button.left {
          background-image: url(../assets/icons/Previous_day.png); }
        .main_frame .current_week ul.footer li.week_overview ul.switcher li.button.right {
          background-image: url(../assets/icons/Next_day.png); }
        .main_frame .current_week ul.footer li.week_overview ul.switcher li.button:hover {
          opacity: 1; }
      .main_frame .current_week ul.footer li.week_overview ul.recipe_infos li.recipe_name {
        font-family: "Circular Std";
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 18px;
        color: white;
        cursor: pointer; }
        .main_frame .current_week ul.footer li.week_overview ul.recipe_infos li.recipe_name p {
          display: inline; }
        .main_frame .current_week ul.footer li.week_overview ul.recipe_infos li.recipe_name:hover {
          text-decoration: underline; }
    .main_frame .current_week ul.footer li.week_shopping_list {
      float: right;
      padding-right: 14px;
      padding-top: 4px; }

.main_content {
  position: relative;
  display: inline-block;
  background-color: #181818;
  width: calc( 100vw - 380px);
  height: calc( 100vh - 90px);
  overflow-y: auto; }
  .main_content .section {
    padding: 16px 20px 20px 20px;
    overflow: auto;
    zoom: 1; }
    .main_content .section .image_header {
      width: 100%;
      height: 180px;
      background-color: #00FFCD;
      overflow: hidden;
      position: relative; }
      .main_content .section .image_header.big {
        height: 280px; }
      .main_content .section .image_header .tag {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #121212;
        border-radius: 90px;
        font-family: "Circular Std";
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: white;
        opacity: 0.87;
        padding: 2px 15px; }
      .main_content .section .image_header .title_image {
        bottom: 0px;
        position: absolute;
        padding: 10px;
        width: calc( 100% - 20px);
        background-color: rgba(40, 40, 40, 0.6); }
        .main_content .section .image_header .title_image h2 {
          display: inline-block;
          font-family: "Circular Std";
          font-size: 32px;
          font-weight: 500;
          line-height: 45px;
          color: white; }
        .main_content .section .image_header .title_image button {
          display: inline-block;
          float: right;
          margin: 8px; }
    .main_content .section .title_simple {
      margin-top: 12px;
      margin-bottom: 20px; }
      .main_content .section .title_simple h2 {
        display: block;
        font-family: "Circular Std";
        font-size: 32px;
        font-weight: 500;
        line-height: 45px;
        color: white;
        padding-right: 20px; }
      .main_content .section .title_simple button {
        margin-top: 10px;
        display: inline;
        margin-right: 16px; }
    .main_content .section .chief_header {
      margin-bottom: 43px; }
      .main_content .section .chief_header .chief_image {
        height: 140px;
        width: 140px;
        display: inline-block;
        background-color: #00FFCD;
        border-radius: 140px;
        overflow: hidden;
        float: left; }
      .main_content .section .chief_header .chief_informations {
        display: inline-block;
        padding: 20px; }
        .main_content .section .chief_header .chief_informations .chief_title h4 {
          opacity: 0.54;
          font-family: "Circular Std";
          font-size: 12px;
          font-weight: 300;
          line-height: 15px;
          color: white;
          text-transform: uppercase; }
        .main_content .section .chief_header .chief_informations .chief_name h1 {
          font-family: "Circular Std";
          font-size: 32px;
          font-weight: 500;
          line-height: 45px;
          color: white; }
        .main_content .section .chief_header .chief_informations .chief_score {
          padding-bottom: 16px; }
          .main_content .section .chief_header .chief_informations .chief_score p {
            font-family: "Circular Std";
            font-size: 9px;
            font-weight: 300;
            line-height: 11px;
            color: white;
            opacity: 0.87;
            text-transform: uppercase; }
    .main_content .section .subtitles {
      display: block;
      font-family: "Circular Std";
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: white;
      opacity: 0.87;
      margin-bottom: 24px; }
      .main_content .section .subtitles .chief {
        cursor: pointer; }
        .main_content .section .subtitles .chief:hover {
          text-decoration: underline; }
    .main_content .section .recipe_details {
      padding: 16px 0;
      height: 30px;
      display: block;
      width: 100%; }
      .main_content .section .recipe_details p {
        float: left;
        display: inline-block;
        opacity: 0.87;
        padding: 0 4px;
        font-family: "Circular Std";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: white;
        text-transform: uppercase; }
      .main_content .section .recipe_details span.icon {
        float: left;
        display: inline-block;
        opacity: 0.87;
        height: 17px;
        width: 17px;
        margin: 3px 8px 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        .main_content .section .recipe_details span.icon.starter {
          background-image: url(../assets/icons/profil-white.png); }
        .main_content .section .recipe_details span.icon.main {
          background-image: url(../assets/icons/profil-white.png); }
        .main_content .section .recipe_details span.icon.dessert {
          background-image: url(../assets/icons/profil-white.png); }
    .main_content .section .menu_filters {
      position: relative;
      width: 100%;
      display: block; }
      .main_content .section .menu_filters ul.filters {
        border-bottom: 2px solid #D8D8D8;
        margin-bottom: 16px; }
        .main_content .section .menu_filters ul.filters li {
          opacity: 0.54;
          font-family: "Circular Std";
          font-size: 12px;
          font-weight: 300;
          line-height: 20px;
          color: white;
          cursor: pointer;
          text-transform: uppercase;
          display: inline-block;
          margin: 0 12px;
          position: relative; }
          .main_content .section .menu_filters ul.filters li:first-child {
            margin-left: 0; }
          .main_content .section .menu_filters ul.filters li:hover {
            opacity: 1; }
          .main_content .section .menu_filters ul.filters li.active {
            opacity: 1; }
            .main_content .section .menu_filters ul.filters li.active:before {
              content: "";
              bottom: -2px;
              position: absolute;
              height: 2px;
              width: 100%;
              background-color: #00FFCD; }
        .main_content .section .menu_filters ul.filters.fixed {
          position: fixed;
          top: 40px;
          width: calc( 100vw - 470px);
          background-color: rgba(0, 0, 0, 0.7);
          padding: 20px 20px 0 20px;
          z-index: 4; }
    .main_content .section .search_bar .search_container {
      margin: 0 0 23px 0; }
    .main_content .section .search_bar.mini {
      width: 220px; }
    .main_content .section .list_cookbooks {
      padding-bottom: 20px; }
      .main_content .section .list_cookbooks ul.cookbooks li {
        margin: 6px;
        display: inline-block;
        width: calc( ( 100vw - 420px - (18px*3) ) / 3); }
        .main_content .section .list_cookbooks ul.cookbooks li .big_image {
          background-color: #00FFCD;
          height: calc( ( 100vw - 420px - (18px*3) ) / 3);
          width: 100%;
          display: block; }
          .main_content .section .list_cookbooks ul.cookbooks li .big_image .hover {
            padding: calc( ( ( 100vw - 420px - (18px*3) ) / 6 ) - 34px);
            background-color: rgba(0, 0, 0, 0.45);
            opacity: 0; }
            .main_content .section .list_cookbooks ul.cookbooks li .big_image .hover .button_plan_the_week {
              background: none;
              border: none;
              width: 68px;
              height: 68px;
              cursor: pointer;
              display: block;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(../assets/icons/Plan_week.png);
              opacity: 0.8;
              transition-duration: 0.3s;
              transition-property: -webkit-transform opacity;
              transition-property: transform opacity;
              transition-property: transform opacity, -webkit-transform opacity; }
              .main_content .section .list_cookbooks ul.cookbooks li .big_image .hover .button_plan_the_week:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 1; }
              .main_content .section .list_cookbooks ul.cookbooks li .big_image .hover .button_plan_the_week:active {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 0.8; }
            .main_content .section .list_cookbooks ul.cookbooks li .big_image .hover:hover {
              opacity: 1; }
        .main_content .section .list_cookbooks ul.cookbooks li .informations {
          padding: 10px;
          background-color: #282828; }
          .main_content .section .list_cookbooks ul.cookbooks li .informations .header {
            display: block; }
            .main_content .section .list_cookbooks ul.cookbooks li .informations .header h3 {
              font-family: "Circular Std";
              font-size: 15px;
              font-weight: 500;
              line-height: 20px;
              color: white;
              padding-bottom: 5px;
              cursor: pointer; }
              .main_content .section .list_cookbooks ul.cookbooks li .informations .header h3:hover {
                text-decoration: underline; }
          .main_content .section .list_cookbooks ul.cookbooks li .informations .description {
            display: block; }
            .main_content .section .list_cookbooks ul.cookbooks li .informations .description p {
              font-family: "Circular Std";
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: white;
              opacity: 0.87;
              padding-bottom: 12px; }
          .main_content .section .list_cookbooks ul.cookbooks li .informations .cookbook_infos {
            display: block; }
            .main_content .section .list_cookbooks ul.cookbooks li .informations .cookbook_infos p {
              font-family: "Circular Std";
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: white; }
              .main_content .section .list_cookbooks ul.cookbooks li .informations .cookbook_infos p .chief_name {
                cursor: pointer; }
                .main_content .section .list_cookbooks ul.cookbooks li .informations .cookbook_infos p .chief_name:hover {
                  text-decoration: underline; }
    .main_content .section .annoucement {
      margin: 14px 0 42px 0; }
      .main_content .section .annoucement h2 {
        font-family: "Circular Std";
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        line-height: 40px;
        color: white;
        padding-bottom: 8px; }
      .main_content .section .annoucement p.submessage {
        font-family: "Circular Std";
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: 18px;
        color: white;
        opacity: 0.87; }
    .main_content .section .list_recipes .day {
      border-bottom: 1px solid #A5A5A5;
      padding-bottom: 12px;
      margin-bottom: 16px; }
      .main_content .section .list_recipes .day h2 {
        font-family: "Circular Std";
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: white;
        padding-bottom: 16px; }
    .main_content .section .list_recipes ul.recipes li {
      background-color: #1E1D1D;
      margin-bottom: 1px;
      height: 42px; }
      .main_content .section .list_recipes ul.recipes li .recipe_image {
        height: 42px;
        width: 60px;
        display: inline-block;
        float: left;
        background-color: #00FFCD;
        cursor: pointer; }
      .main_content .section .list_recipes ul.recipes li .recipe_informations {
        display: inline-block;
        width: calc( 100% - 60px); }
        .main_content .section .list_recipes ul.recipes li .recipe_informations h3 {
          display: inline-block;
          padding: 9px 0 9px 20px;
          font-family: "Circular Std";
          font-size: 15px;
          font-weight: 300;
          line-height: 24px;
          color: white;
          cursor: pointer; }
          .main_content .section .list_recipes ul.recipes li .recipe_informations h3:hover {
            text-decoration: underline; }
        .main_content .section .list_recipes ul.recipes li .recipe_informations span.recipe_type {
          width: 80px;
          display: inline-block;
          float: right;
          font-family: "Circular Std";
          font-size: 13px;
          font-weight: 300;
          line-height: 24px;
          color: white;
          opacity: 0.87;
          padding: 9px 0; }
          .main_content .section .list_recipes ul.recipes li .recipe_informations span.recipe_type .icon {
            height: 15px;
            width: 15px;
            margin: 4.5px;
            margin-right: 12px;
            display: inline-block;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain; }
            .main_content .section .list_recipes ul.recipes li .recipe_informations span.recipe_type .icon.starter {
              background-image: url(../assets/icons/Cart.png); }
            .main_content .section .list_recipes ul.recipes li .recipe_informations span.recipe_type .icon.main {
              background-image: url(../assets/icons/Cart.png); }
            .main_content .section .list_recipes ul.recipes li .recipe_informations span.recipe_type .icon.dessert {
              background-image: url(../assets/icons/Cart.png); }
        .main_content .section .list_recipes ul.recipes li .recipe_informations > span.menu_item {
          background-image: url(../assets/icons/other_otptions_2_white.png); }
        .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item {
          position: relative;
          width: 24px;
          height: 24px;
          display: inline-block;
          float: right;
          margin: 9px 16px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;
          opacity: 0; }
          .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item:hover {
            opacity: 1; }
            .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item:hover > .down_menu {
              display: block; }
          .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu {
            display: none;
            position: absolute;
            left: -150px;
            top: 10px;
            z-index: 10;
            width: 180px;
            background-color: #1E1D1D;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
            .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu ul.options {
              padding: 4px 10px;
              display: block; }
              .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu ul.options li {
                height: auto;
                padding: 2px;
                display: block;
                font-family: "Circular Std";
                font-size: 11px;
                font-weight: 300;
                line-height: 20px;
                color: white;
                opacity: 0.87;
                text-transform: uppercase;
                border-bottom: 1px solid white;
                cursor: pointer; }
                .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu ul.options li:hover {
                  opacity: 1; }
                  .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu ul.options li:hover:hover > .down_menu {
                    display: block;
                    left: -170px;
                    top: 30px; }
                .main_content .section .list_recipes ul.recipes li .recipe_informations span.menu_item .down_menu ul.options li:last-child {
                  border: none; }
        .main_content .section .list_recipes ul.recipes li .recipe_informations button {
          margin: 6px 20px; }
      .main_content .section .list_recipes ul.recipes li:hover {
        background-color: rgba(0, 0, 0, 0.4); }
        .main_content .section .list_recipes ul.recipes li:hover span.menu_item {
          opacity: 0.6; }
    .main_content .section .recipe_steps {
      padding-top: 16px;
      width: 70%;
      margin: auto; }
      .main_content .section .recipe_steps p {
        display: block;
        background-color: white;
        padding: 16px 20px;
        font-family: "Circular Std";
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.87); }
    .main_content .section .list_recipe_ingredients ul.ingredients {
      width: 100%;
      display: inline-block; }
      .main_content .section .list_recipe_ingredients ul.ingredients.with_aside {
        width: calc( 100% - 240px); }
        .main_content .section .list_recipe_ingredients ul.ingredients.with_aside.big {
          width: calc( 100% - 300px); }
      .main_content .section .list_recipe_ingredients ul.ingredients li {
        margin-bottom: 1px;
        height: 42px;
        background-color: #1E1D1D; }
        .main_content .section .list_recipe_ingredients ul.ingredients li .ingredient_image {
          height: 42px;
          width: 60px;
          display: inline-block;
          background-color: #00FFCD;
          float: left; }
        .main_content .section .list_recipe_ingredients ul.ingredients li .ingredient_informations {
          padding: 11px 0;
          display: inline-block; }
          .main_content .section .list_recipe_ingredients ul.ingredients li .ingredient_informations .ingredient_quantity {
            font-family: "Circular Std";
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            line-height: 19px;
            padding: 0 20px;
            color: white;
            display: inline; }
          .main_content .section .list_recipe_ingredients ul.ingredients li .ingredient_informations .ingredient_name {
            font-family: "Circular Std";
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            color: white;
            opacity: 0.87;
            display: inline; }
        .main_content .section .list_recipe_ingredients ul.ingredients li .hidden_buttons {
          opacity: 0;
          float: right;
          margin: 6px; }
        .main_content .section .list_recipe_ingredients ul.ingredients li:hover {
          background-color: #121212; }
          .main_content .section .list_recipe_ingredients ul.ingredients li:hover .hidden_buttons {
            opacity: 1; }
    .main_content .section .list_recipe_ingredients .add_to_chart {
      width: 220px;
      float: right;
      display: inline-block;
      height: 192px;
      background-image: url(../assets/add_cart.png);
      transition-property: opacity;
      transition-duration: 0.3s; }
      .main_content .section .list_recipe_ingredients .add_to_chart:hover {
        opacity: 0.6; }
    .main_content .section .list_recipe_ingredients .aside_list {
      width: 280px;
      display: inline-block;
      float: right;
      background-color: #282828; }
      .main_content .section .list_recipe_ingredients .aside_list .head_image {
        width: 100%;
        height: 110px;
        display: block;
        overflow: hidden;
        background-color: #00FFCD; }
      .main_content .section .list_recipe_ingredients .aside_list .aside_content {
        padding: 12px 15px; }
        .main_content .section .list_recipe_ingredients .aside_list .aside_content h4 {
          font-family: "Circular Std";
          font-size: 24px;
          font-weight: 100;
          line-height: 30px;
          color: white;
          margin-bottom: 3px; }
        .main_content .section .list_recipe_ingredients .aside_list .aside_content .counter {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 16px;
          height: 34px;
          margin: 12px 0; }
          .main_content .section .list_recipe_ingredients .aside_list .aside_content .counter input[type="number"] {
            border: none;
            background: none;
            outline: none;
            height: 100%;
            text-align: center;
            font-family: "Circular Std";
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            line-height: 34px;
            color: white;
            width: calc( 100% - 70px); }
        .main_content .section .list_recipe_ingredients .aside_list .aside_content .button_actions {
          text-align: center;
          margin-top: 32px;
          margin-bottom: 12px; }
    .main_content .section .list_recipe_ingredients .aside_block .bloc_image {
      width: 220px;
      height: 200px;
      display: inline-block;
      position: relative;
      background-color: #00FFCD; }
      .main_content .section .list_recipe_ingredients .aside_block .bloc_image .title_image {
        width: 100%;
        position: absolute;
        bottom: 10px; }
    .main_content .section .list_chiefs ul.chiefs li {
      padding: 8px;
      height: 52px;
      width: calc( 100% - 16px);
      background-color: #1E1D1D;
      display: block;
      margin-bottom: 1px; }
      .main_content .section .list_chiefs ul.chiefs li .chief_image {
        display: inline-block;
        height: 52px;
        width: 52px;
        background-color: #00FFCD;
        border-radius: 100px;
        overflow: hidden;
        float: left; }
      .main_content .section .list_chiefs ul.chiefs li .chief_informations {
        display: inline-block;
        padding: 7px 20px; }
        .main_content .section .list_chiefs ul.chiefs li .chief_informations h4 {
          font-family: "Circular Std";
          font-size: 20px;
          font-weight: 100;
          line-height: 18px;
          color: white;
          opacity: 0.87;
          padding-bottom: 7px; }
        .main_content .section .list_chiefs ul.chiefs li .chief_informations p {
          font-family: "Circular Std";
          font-size: 12px;
          font-weight: 100;
          line-height: 15px;
          color: white;
          opacity: 0.87; }
      .main_content .section .list_chiefs ul.chiefs li button {
        display: inline-block;
        float: right;
        margin: 16px; }
    .main_content .section .steps_path ul.steps {
      margin-bottom: 24px; }
      .main_content .section .steps_path ul.steps li {
        display: inline-block;
        font-family: "Circular Std";
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        color: white;
        opacity: 0.54; }
        .main_content .section .steps_path ul.steps li.active {
          opacity: 1; }
    .main_content .section .navigations_buttons {
      margin: 24px 0; }

.list_categorie {
  font-family: "Circular Std";
  font-size: 13px;
  font-weight: 100;
  line-height: 16px;
  color: white;
  margin: 9px 0; }

.input_block {
  width: 100%;
  background-color: white;
  border-radius: 2px; }
  .input_block input {
    padding: 4px 10px;
    width: calc( 90% - 20px);
    border: none;
    background: none;
    font-family: "Circular Std";
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    cursor: text;
    outline: none;
    display: inline-block; }
  .input_block .count_limit {
    display: inline-block;
    background-color: #D8D8D8;
    border-radius: 33px;
    float: right;
    font-family: "Circular Std";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.87;
    color: white;
    padding: 1px 8px;
    margin: 3px 11px; }

.textarea_block {
  background-color: white;
  border-radius: 2px;
  width: 100%;
  min-height: 200px;
  position: relative;
  display: block; }
  .textarea_block textarea {
    display: block;
    border: none;
    height: 100%;
    padding: 6px 10px;
    outline: none;
    width: calc( 100% - 20px);
    min-height: 180px;
    cursor: text; }

.popup {
  height: 490px;
  width: 700px;
  position: fixed;
  padding: 12px;
  left: calc( 50vw - 450px);
  top: calc( 50vh - 245px);
  background-color: #1E1D1D; }
  .popup .popup_title {
    font-family: "Circular Std";
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 16px;
    color: white;
    margin-bottom: 12px; }
  .popup .popup_image {
    height: 270px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    background-color: #00FFCD; }
    .popup .popup_image .image_title {
      position: absolute;
      bottom: 0;
      padding: 10px 20px; }
      .popup .popup_image .image_title h2 {
        font-family: "Circular Std";
        font-size: 32px;
        font-weight: 500;
        line-height: 45px;
        color: white; }
      .popup .popup_image .image_title p.subtitle {
        font-family: "Circular Std";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: white;
        opacity: 0.87; }
  .popup .description {
    font-family: "Circular Std";
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    color: white;
    opacity: 0.87;
    padding-bottom: 12px;
    margin: 16px 0 24px 0; }
  .popup .button_actions {
    text-align: center; }
    .popup .button_actions button {
      margin: 20px auto;
      display: block; }

.login_page {
  width: 420px;
  margin: auto;
  padding: 46px 0; }
  .login_page .logo {
    display: block;
    width: 140px;
    height: 100px;
    background-color: #00FFCD;
    margin: 26px auto 50px; }
  .login_page .button_action {
    margin: 24px auto; }
  .login_page .aside_text {
    float: right;
    font-family: "Circular Std";
    font-size: 13px;
    font-weight: 100;
    text-align: right;
    line-height: 16px;
    opacity: 0.87;
    color: white;
    margin-top: 6px;
    cursor: pointer; }
    .login_page .aside_text:hover {
      text-decoration: underline;
      opacity: 1; }

@font-face {
  font-family: 'Circular-Black';
  src: url("../assets/fonts/CircularStd/CircularStd-Black.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Black-Italic';
  src: url("../assets/fonts/CircularStd/CircularStd-BlackItalic.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Bold';
  src: url("../assets/fonts/CircularStd/CircularStd-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Bold-Italic';
  src: url("../assets/fonts/CircularStd/CircularStd-BoldItalic.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Book';
  src: url("../assets/fonts/CircularStd/CircularStd-Book.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Book-Italic';
  src: url("../assets/fonts/CircularStd/CircularStd-BookItalic.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Medium';
  src: url("../assets/fonts/CircularStd/CircularStd-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Circular-Medium-Italic';
  src: url("../assets/fonts/CircularStd/CircularStd-MediumItalic.otf") format("opentype"); }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

