<section class="main_content">
	<div class="section create_recipe">

		<div class="title_simple">
			<h2>Edit a recipe</h2>
		</div>

		<div class="list_recipe_ingredients">
			<%= render 'form', recipe: @recipe %>
		</div>
		

	</div>
</div>
</section>