<li>
	<div class="ingredient_image" style="background-image:url(<%= food.image.url(:thumb) %>)"></div>
	<div class="ingredient_informations">
		<p class="ingredient_quantity"></p>
		<p class="ingredient_name"><%= food.name %></p>
	</div>
</li>