<header>
	<ul>
		<li class="mac_options"></li>
		<li class="navigation">
			<div class="directions">
				<button class="left_arrow" onclick="history.go(-1);"></button>
				<button class="right_arrow" onclick="history.go(+1);"></button>
			</div>
			<div class="search_bar">
				<div class="search_container">
					<div class="search_icon"></div>
					<input class="search_field" placeholder="Search">
				</div>
			</div>
		</li>
		<li class="profil">
			<div class="profil_icon" style="background-image:url('<%= user.image %>')"></div>
			<div class="profil_name"><%= link_to user.name, user_path(user, anchor: 'all') %></div>
			<div class="profil_drop_icon">
				<div class="drop-list">
					<ul>
						<li><%= link_to 'Myaccount', edit_user_path(user) %></li>
						<li><%= link_to 'Logout', logout_path %></li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</header>