<aside class="sidebar_left">
	<ul class="section">
		<li class="item active">
			<p><%= link_to 'Discover', root_path %></p>
		</li>
	</ul>
	<ul class="section">
		<li class="title">
			<h3>My Favorites</h3>
		</li>
		<li class="item">
			<span class="icon starter"></span>
			<p>Starter</p>
			<span class="counter">15</span>
		</li>
		<li class="item">
			<span class="icon main"></span>
			<p>Main</p>
			<span class="counter">15</span>
		</li>
		<li class="item">
			<span class="icon dessert"></span>
			<p>Dessert</p>
			<span class="counter">15</span>
		</li>
	</ul>
	<ul class="section">
		<li class="title">
			<h3>My Playlists</h3>
		</li>
		<li class="item">
			<p>Fast & Cheap</p>
		</li>
		<li class="item">
			<p>Fast & Cheap</p>
		</li>
		<li class="item">
			<p>Fast & Cheap</p>
		</li>
		<li class="item">
			<p>Fast & Cheap</p>
		</li>
	</ul>
</aside>